---
import { SITE_AUTHOR } from '../consts';

const today = new Date();
---

<footer>
	<p class="meta">&copy; {today.getFullYear()} {SITE_AUTHOR}</p>
</footer>
<style>
	footer {
		padding: 0.65rem 1rem 1.6rem;
		text-align: center;
	}

	.meta {
		margin: 0;
		font-size: 0.9rem;
		color: rgb(var(--gray));
	}
</style>
